.root {
  height: 100%;
  border: none;
  border-bottom: 1px solid grey;
  cursor: pointer;
  font-family: Roboto, sans-serif;
  font-size: 15px;
  padding-left: 20px;
}

.input {
  padding: 0 !important;
  padding-left: 10px !important;
}